.container {
    padding: 50px;
}
body {
    background-image: url("../images/background-2323578_960_720.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.my-aligned-buttons {
    display: flex;
    justify-content: center;
}
img {
    margin: 5px;
    width: 236px;
    height: 184px;
}
.navbar {
    background: lightskyblue;
}
p {
    color: black;
    size: 20px;
}
.main {
    background: white;
}
.sidebar {
    background: white;
}