.container {
    padding: 50px;
}
body {
    background-image: url("../images/background-2323578_960_720.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}